.text-block {
  padding: 60px 0;

  .eyebrow,
  .title {
    text-align: center;
  }

  .title {
    margin-bottom: 2em;
  }

  .text.center {
    text-align: center;
  }

  .wrap-btn {
    text-align: center;

    .btn {
      display: inline-block;
    }
  }


  .informes {

    .eyebrow {
      margin-bottom: .8rem;
    }

    display: flex;
    flex-direction: column;
    gap: .4rem
  }
}