.hero {
  position: relative;
  min-height: 80lvh;
  padding: 180px 0 100px;
  color: $white;

  @include m768 {
    padding: 25vh 0 100px;
  }

  .title {
    :deep(strong) {
      display: inline-block;
      margin-right: 0.5ch;
      padding: 4px 4px 4px;
      border-radius: 4px;
      font-weight: 100;
      line-height: 1;
    }
  }
}
