.hero__content {
  text-align: center;
  color: $blue;
}

.hero__img {
  position: relative;
  aspect-ratio: 4 / 3;

  @include m768 {
    aspect-ratio: 16 / 9;
  }
  @include m992 {
    aspect-ratio: 20 / 7;
  }

  img {
    border-radius: 18px;
    @include fullAbs();
    @include fit();
  }

  .drop {
    display: none;

    @include m992 {
      display: block;
    }
  }

  :deep(.drop--1) {
    z-index: 0;
    top: 0;
    right: 0;
    translate: 3% -15%;
  }

  :deep(.drop--2) {
    bottom: 0;
    left: 0;
    translate: 3% 15%;
  }
}
