.hero--home {
  position: relative;
  padding: 0 0 5vh;
  padding-top: calc(var(--header-height) + 15vh);

  .hero--home__bg {
    z-index: 0;
    @include fullAbs();

    &:after {
      content: '';
      opacity: 0.3;
      background-color: $black;
      @include fullAbs();
    }

    img {
      @include fullAbs();
      @include fit();
    }
  }

  .container {
    position: relative;

    .title {
      font-weight: 300;
    }

    .text {
      max-width: 500px;
    }
  }

  .toggle-form {
    position: absolute;
    z-index: 2;
    right: 24px;
    bottom: 0;
    cursor: pointer;
    transition: filter 0.2s ease-out;

    @include m768 {
      right: 32px;
    }

    &:hover {
      filter: drop-shadow(0 0 5px $blue);

      circle {
        fill: $black;
      }
    }

    circle {
      transition: fill 0.2s ease-out;
      fill: $blue;
    }

    g {
      transform-origin: center;
      animation: rotateCta 25s infinite linear;
    }
  }
}

@keyframes rotateCta {
  from {
    rotate: 0deg;
  }

  to {
    rotate: 359deg;
  }
}
