.hero--home {
  padding: 0 0 5vh;
  padding-top: calc(var(--header-height) + 15vh);
  background: $white;

  .title {
    color: $blue;

    [data-row] {
      display: flex;
      margin-bottom: 16px;
      transition-timing-function: ease-out;
      transition-duration: 0.2s;
      transition-property: opacity, translate;
      flex-wrap: wrap;
      gap: 16px;

      &.hidden {
        opacity: 0;
        translate: 0 15px;
      }
    }
    .media--mobile[data-item="2"] {
      display: block;

      @include m768 {
        display: none;
      }
    }

    [data-item="1"] {
      display: flex;
      flex-wrap: wrap;
    }
    [data-item="2"] {
      display: none;
      flex-basis: 160px;

      @include m768 {
        display: block;
      }
    }
    [data-item="4"] {
      width: 1.75ch;
    }
  }

  .media {
    height: 1.2em;
    border-radius: 0.6em;
    background-color: slategray;
    flex: 1;
  }

  .text {
    max-width: 450px;
    color: $black;
  }
}
