.hero--home {
  position: relative;
  padding: 0 0 5vh;
  padding-top: calc(var(--header-height) + 15vh);

  .hero--home__bg {
    z-index: 0;
    @include fullAbs();

    &:after {
      content: "";
      opacity: 0.3;
      background-color: $black;
      @include fullAbs();
    }

    img {
      @include fullAbs();
      @include fit();
    }
  }

  .container {
    position: relative;

    .title {
      font-weight: 300;
    }

    .text {
      max-width: 500px;
    }
  }
}
