.hero--text-only {
  text-align: center;
  background: linear-gradient(to bottom, $black 10%, $gray 65%, $white 100%);

  h1.title {
    display: inline-block;
    margin-bottom: 0;
    padding: 4px 15px 8px;
    border-radius: 4px;
    background-color: $black;
    font-weight: 100;
  }

  .title--text {
    p {
      margin-top: 0.5em;
    }
  }
}

.hero--small {
  min-height: 0;
}
