.hero {
  padding: 4rem 0;
  background: linear-gradient(180deg, #4D5445 10.42%, #9EA18A 74.34%, #EDEBE3 100%);
}

.hero.Gray {
  background: linear-gradient(180deg, #4D5461 10.42%, #8C96A1 43.23%, #EDEBE3 100%);
}

.hero-content {
  display: flex;
  flex-direction: column;
  color: $white;
  justify-content: center;
  gap: 2rem;

  @include m992 {
    flex-direction: row;
    padding: 7rem 0 2.5rem 0;
    align-items: center;
  }

  h1 {
    max-width: 700px;
    text-wrap: balance;
  }

  picture {
    position: relative;
    margin-top: -3.5rem;

    :deep(.drop) {
      width: 100px;
    }

    :deep(.drop:first-child) {
      z-index: 1;
      top: .5rem;
      right: -4rem;
    }

    :deep(.drop:last-child) {
      z-index: 1;
      bottom: -4.5rem;
      left: 1rem;
    }

    @include m576 {
      :deep(.drop) {
        width: 160px;
      }

      :deep(.drop:first-child) {
        z-index: 1;
        right: -8rem;
      }
    }

    @include m768 {
      padding-right: 4rem;

      :deep(.drop) {
        width: 160px;
      }

      :deep(.drop:first-child) {
        z-index: 0;
        top: 2rem;
        right: -4rem;
      }

      :deep(.drop:last-child) {
        z-index: 2;
        bottom: -5rem;
        left: 0rem;
      }
    }

    @include m992 {
      margin-top: 0rem;
    }


    img {
      position: relative;
      z-index: 1;
      width: 100%;
      max-width: 600px;
      border-radius: .6rem;

      @include m992 {
        width: 400px;
      }

      @include m992 {
        width: 400px;
      }

      @include m1200 {
        width: 100%;
      }
    }
  }
}