.image-text {
  :deep(.swiper-slide) {
    padding-bottom: 40px;

    @include m768 {
      padding-bottom: 60px;
    }
  }

  .img {
    position: relative;
    margin-bottom: 2em;

    @include m992 {
      margin-bottom: 0;
    }

    img {
      display: block;
      width: 100%;
      border-radius: 18px;
    }
  }

  .content {
    @include m992 {
      padding-left: 8%;
    }

    .eyebrow {
      margin-bottom: 2em;

      @include m768 {
        margin-bottom: 6em;
      }
    }

    .title:not(.text) {
      margin-bottom: 0.2em;
      color: $gray;
    }


    .text, p {
      margin: 0;
    }

    .text {
      margin-bottom: 1.5em;
    }
  }

  :deep(.drop) {
    top: 90%;
    left: 85%;
    width: 30%;

    @include m576 {
      width: 50%;
    }
    @include m992 {
      left: 95%;
      width: 60%;
    }
  }

  :deep(.swiper-pagination-lock) {
    display: none;
  }
}
