[data-scroll-show] {
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  transition-property: opacity, translate;
  opacity: 0;
  translate: 0 25px;

  &.scroll-show {
    opacity: 1;
    translate: 0 0;
  }
}

[data-scroll-show="left"] {
  translate: 25px 0;
}
[data-scroll-show="down"] {
  translate: 0 -25px;
}
[data-scroll-show="right"] {
  translate: -25px 0;
}
