.title {
  margin-top: 0;
  font-size: 32px;
  font-size: clamp(32px, 4vw, 44px);
  font-weight: 100;
  line-height: 1.25;
}

.title--sm {
  margin-bottom: 0.5em;
  font-size: clamp(28px, 3vw, 32px);
  line-height: 1.25;
}

.title--lg {
  font-size: clamp(46px, 5vw, 70px);
  line-height: 1.15;
}

.title--xl {
  font-size: clamp(50px, 6vw, 82px);
  font-weight: 300;
  line-height: 1.15;
}

.eyebrow {
  display: block;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 400;

  @include m768 {
    font-size: 15px;
  }
}

.text {
  &,
  p {
    font-size: clamp(18px, 3vw, 20px);
    line-height: 1.4;
    @include font();
  }
}

.text--sm {
  &,
  p {
    font-size: 16px;
  }
}