.title {
  margin-top: 0;
  font-size: 32px;
  font-size: clamp(32px, 5vw, 44px);
  font-weight: 100;
  line-height: 1.25;

  @include m768 {
    font-size: 44px;
  }
}

.title--lg {
  font-size: clamp(48px, 5vw, 70px);
  line-height: 1.15;
}

.title--xl {
  font-size: clamp(54px, 8vw, 110px);
  line-height: 1.15;
}

.eyebrow {
  display: block;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 400;

  @include m768 {
    font-size: 15px;
  }
}