.toggle-form {
  position: fixed;
  z-index: 2;
  right: 24px;
  bottom: 24px;
  cursor: pointer;
  transition: filter 0.2s ease-out;
  border: none;
  border-radius: 1000px;
  outline: none;
  background-color: transparent;

  &:hover {
    filter: drop-shadow(0 0 5px $blue);
  }
}

.button-modal {
  background-color: transparent;
}

.modal {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 2rem;
  background-color: rgba(191, 191, 191, 0.44);
  backdrop-filter: blur(0.2rem);
  align-items: center;
  justify-content: center;

  .modal-content {
    position: relative;
    display: grid;
    overflow: hidden;
    width: 1300px;
    max-width: 100%;
    height: 650px;
    max-height: 100%;
    color: $black;
    border-radius: 1.125rem;
    background-color: $white;
    grid-template-columns: 1fr 1fr;
    overflow-y: scroll;

    .modal-picture {
      position: sticky;
      top: 0;
      display: block;
      height: 650px;
      max-height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .modal-form {
      position: relative;
      padding: 2rem 1.4rem;

      .modal-select-wrapper {
        position: relative;
        width: fit-content;

        svg {
          position: absolute;
          top: 50%;
          right: .4rem;
          transform: translateY(-50%);
        }

        .modal-select {
          -webkit-appearance: none;
          -moz-appearance: none;
          text-indent: 1px;
          text-overflow: '';
          padding-right: 2rem;
          color: #fff;
          background-color: $gray;
        }
      }

      h3 {
        margin: 0;
        font-size: 44px;
        font-weight: 100;
      }

      p {
        font-size: 16px;
      }

      .modal-form-inputs {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        gap: 1rem;

        input,
        textarea {
          resize: none;
          letter-spacing: 0.02rem;
          text-transform: uppercase;
          border: none;
          border-bottom: 1px solid $gray;
          background-color: transparent;
          font-weight: 500;
        }

        input {
          padding: 1rem 0 0.2rem 0;
        }

        input[type=file] {
          padding: 0 0 .8rem 0;
        }

        label {
          letter-spacing: 0.02rem;
          font-size: 13px;
          text-transform: uppercase;
          color: currentColor;
          font-weight: 300;
          margin-top: 1rem;
          margin-bottom: -.4rem;
        }

        input[type=file]::file-selector-button {
          display: inline-flex;
          padding: 0.6rem 1rem 0.5rem 1rem;
          margin-right: 1rem;
          cursor: pointer;
          letter-spacing: 0.02rem;
          text-transform: uppercase;
          color: $white;
          border: none;
          border-radius: 0.5rem;
          outline: none;
          background-color: $gray;
          align-self: self-start;
          align-items: center;
          gap: 0 0.3rem;
        }

        input:focus,
        textarea:focus {
          outline: none;
        }

        textarea {
          padding: 1rem 0 3rem 0;
          font-family: inherit;
        }

        .input-select-wrapper {
          position: relative;
          width: 100%;
          margin: 0;

          svg {
            position: absolute;
            right: 1rem;
            height: 12px;
            bottom: .4rem;
          }
        }

        select {
          -webkit-appearance: none;
          -moz-appearance: none;
          text-indent: 1px;
          text-overflow: '';
          border: 0px;
          background-color: transparent;
          border-bottom: 1px solid $gray;
          padding: 1rem 0 0.2rem 0;
          font-family: inherit;
          letter-spacing: 0.02rem;
          letter-spacing: 0.02rem;
          text-transform: uppercase;
          font-weight: 300;
          color: currentColor;
          width: 100%;
          cursor: pointer;

          & * {
            padding: .4rem 0;
            border-radius: 4px;
          }

          &:focus {
            outline: none;
          }
        }

        button {
          display: flex;
          padding: 0.6rem 1rem 0.5rem 1rem;
          cursor: pointer;
          letter-spacing: 0.02rem;
          text-transform: uppercase;
          color: $white;
          border: none;
          border-radius: 0.5rem;
          outline: none;
          background-color: $blue;
          align-self: self-start;
          align-items: center;
          gap: 0 0.3rem;
        }

        button:hover {
          cursor: pointer;
        }
      }
    }

    .modal-close {
      position: absolute;
      top: 1rem;
      right: 1rem;
      padding: 0.2rem 0.6rem 0.12rem 0.6rem;
      opacity: 0.6;
      border: none;
      border-radius: 100px;
      outline: none;
      background-color: rgba(140, 150, 161, 0.6);
      font-size: 1rem;
      line-height: 0.9;
      z-index: 10;
    }

    .modal-close:hover {
      cursor: pointer;
    }
  }
}

@media (max-width: 1024px) {
  .modal {
    padding: 2rem 1rem;

    .modal-content {
      display: flex;
      overflow-y: scroll;
      flex-direction: column;
      max-width: 500px;

      .modal-picture {
        position: static;
        max-height: 300px;
      }

      .modal-form {
        padding: 1rem;

        h3 {
          font-size: 32px;
        }

        p {
          font-size: 14px;
        }

        input,
        textarea {
          font-size: 12px;
        }
      }

      .modal-close {
        opacity: 1;
        background-color: $white;
      }
    }
  }
}

// Transition
.v-enter-active,
.v-leave-active {
  transition: opacity 0.3s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}