header {
  position: fixed;
  z-index: 5;
  width: 100%;
  padding-top: 20px;
  transition: background-color 0.2s ease-out;

  @include m768 {
    padding-top: 32px;
  }

  &:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    width: calc(100% - 40px);
    content: "";
    border-bottom: 1px solid #d4d4d4;
    translate: -50% 0;
  }

  .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .header__logo {
    width: 200px;
    padding-bottom: 20px;

    @include m768 {
      padding-bottom: 32px;
    }

    img {
      width: 100%;
    }
  }

  .header__hamburger {
    position: relative;
    display: flex;
    width: 30px;
    height: 30px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: rotate 0.3s ease-out;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2px 5px;

    @include m1400 {
      display: none;
    }

    .dot {
      display: block;
      width: 9px;
      height: 9px;
      margin: 0;
      border-radius: 25%;
      background-color: $blue;
    }

    .dot--circle {
      border-radius: 50%;
    }
  }

  .header__hamburger--active {
    rotate: 45deg;
  }
}

header.light {
  :deep(.menu-item) {
    color: $beige;
  }
}

header.scrolled {
  background-color: $white;

  :deep(.menu-item) {
    color: $black;
  }
}

.main-menu {
  position: fixed;
  top: var(--header-height);
  left: 0;
  display: block;
  padding: 32px 20px;
  background-color: $beige;

  @include m1400{
    position: static;
    padding: 0;
    background: none;
  }

  ul,
  :deep(ul) {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-left: 0;
    list-style: none;

    @include m1400{
      flex-direction: row;
      column-gap: clamp(16px, 2vw, 40px);
      justify-content: flex-end;
    }
  }
}

// .main-menu.active {
//   display: block;
// }

:deep(.menu-item) {
  color: $gray;
}

// Transition
.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: opacity 0.3s ease-out, translate 0.3s ease-out;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  opacity: 0;
}

.slide-fade-enter-from {
  translate: 0 -25px;
}