header {
  position: fixed;
  z-index: 5;
  width: 100%;
  padding-top: 20px;

  @include m768 {
    padding-top: 32px;
  }

  &:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    width: calc(100% - 40px);
    content: '';
    border-bottom: 1px solid #d4d4d4;
    translate: -50% 0;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header__logo {
    width: 200px;
    padding-bottom: 20px;


    @include m768 {
      padding-bottom: 32px;
    }

    img {
      width: 100%;
    }
  }

  .header__hamburger {
    position: relative;
    display: flex;
    width: 30px;
    height: 30px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: rotate 0.3s ease-out;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2px 5px;

    @include m1400 {
      display: none;
    }


    .dot {
      display: block;
      width: 9px;
      height: 9px;
      margin: 0;
      border-radius: 25%;
      background-color: $white;
    }

    .dot--circle {
      border-radius: 50%;
    }
  }

  .header__hamburger--active {
    width: 20px;
    height: 20px;
    rotate: 90deg;
    gap: 0;
  }
}

header.light {
  .header__hamburger {
    .dot {
      background-color: $blue;
    }
  }
}