.locale {
  display: flex;
  justify-content: flex-end;
  gap: 16px;

  a {
    display: inline-flex;
    width: auto;
    padding: 8px 15px 7px;
    text-transform: uppercase;
    color: $white;
    border-radius: 50rem;
    background-color: $gray;
    font-size: 14px;
    align-items: center;
    justify-content: center;

    &:hover,
    &.active {
      background-color: $blue;
    }
  }
}

.locale--footer {
  a {
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 50%;
    background-color: rgba($white, 0.2);

    &:hover,
    &.active {
      background-color: $black;
    }
  }
}