.main-menu {
  display: none;

  @include m1400 {
    display: flex;
    column-gap: clamp(16px, 2vw, 40px);
  }
}

.main-menu.active {
  display: block;
}

:deep(.menu-link) {
  padding-bottom: 20px;
  transition: color 0.3s ease-out;
  white-space: nowrap;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $gray;
  font-size: 15px;
  font-weight: 400;
  line-height: 1;

  @include m768 {
    padding-bottom: 32px;
  }

  &.router-link-active,
  &:hover {
    color: $blue;
  }
}


// Transition
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease, translate 0.3s ease;
}

.fade-enter-from,
.fade-enter-to {
  opacity: 0;
}

.fade-enter-from {
  translate: 0 -25px;
}

.main-menu.light {
  :deep(.menu-link) {
    color: $beige;
  }
}

