.services-cards {
  padding-bottom: 48px;
  background-color: $beige;
}

.eyebrow {
  margin-bottom: 1em;
}

.title {
  max-width: 850px;
  margin-bottom: 3em;
}

.card {
  margin-bottom: 4.5em;
  padding: 0 2%;

  @include m768 {
    padding: 0 4%;
  }
  @include m992 {
    padding: 0 7%;
  }
}

.card__image {
  position: relative;
  overflow: hidden;
  margin-bottom: 1.8em;
  border-radius: 50% / 30%;
  aspect-ratio: 1 / 1.5;

  img {
    @include fullAbs();
    @include fit();
  }
}

.card__content {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1 1 auto;
  align-items: center;

  .title {
    margin-bottom: 0;
    line-height: 1.1;

    @include m768 {
      margin-bottom: 1.8rem;
    }
  }

  .btn {
    display: inline-flex;
    width: auto;
    margin-top: auto;
  }
}

.see-all {
  padding: 0 2%;

  @include m768 {
    padding: 0 4%;
  }
  @include m992 {
    padding: 0 7%;
  }

  :deep(a) {
    display: flex;
    flex-direction: column;
    padding: 32px;
    text-align: center;
    color: $white;
    border-radius: 50% / 30%;
    background-color: $blue;
    aspect-ratio: 1 / 1.5;
    align-items: center;
    justify-content: center;
  }

  .title {
    margin-bottom: 10px;
  }

  svg {
    width: 45px;
    margin: 0 auto;
    stroke: $beige
  }
}