.wrap-news {
  background-color: $beige;
}

.news__box {
  padding: 24px 0;

  @include m768 {
    padding: 10% 0;
  }
  @include m1400 {
    padding: 126px 0;
  }
}

.box__headline {
  max-width: 650px;
  margin: 0 auto 3em;
  text-align: center;

  .eyebrow {
    margin-bottom: 1.5em;
  }
}

.news__slider {
  padding: 0 24px;

  @include m768 {
    padding: 0 5%;
  }
  @include m1400 {
    padding: 0 58px;
  }

  .img {
    margin-bottom: 2em;
    border-radius: 18px;

    @include m992 {
      margin-bottom: 0;
    }

    img {
      display: block;
      width: 100%;
      margin: 0;
      border-radius: 18px;
    }
  }

  .content {
    @include m992 {
      padding-left: 8%;
    }

    .eyebrow {
      margin-bottom: 2em;
    }
  }

  :deep(.swiper-pagination) {
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 18px;

    @include m768 {
      padding-left: 43%;
      transform: translateY(-100%);
      justify-content: flex-start;

    }
    @include m992 {
      padding-left: 55%;
    }

    .swiper-pagination-bullet {
      display: inline-block;
      width: 44px;
      height: 44px;
      margin: 0;
      padding: 8px;
      cursor: pointer;
      transition: background-color 0.2s ease-in;
      text-align: center;
      opacity: 1;
      color: $white;
      border-radius: 50%;
      background-color: $gray;
      flex: 0 0 44px;

      &:hover,
      &-active {
        background-color: $black;
      }
    }
  }
}
