.logos-grid {
  padding: 4em 0 1em;
  background-color: $beige;

  &:has(.box) {
    padding: 24px 0;

    @include m768 {
      padding: 32px 0;
    }
  }

  .box {
    padding: 48px 24px 24px;
    text-align: center;
    color: $white;
    border-radius: 18px;
    background-color: $blue;

    @include m768 {
      padding: 64px 15% 32px;
    }

    .logos-grid__headline {
      margin: 0 auto 4em;
    }
  }

}

.logos-grid__headline {
  max-width: 950px;
  margin-bottom: 4em;

  .eyebrow {
    margin-bottom: 3em;
  }
}

.single-logo {
  margin-bottom: 3em;
  text-align: center;

  img {
    display: inline-block;
  }
}