.tabs__headline {
  max-width: 600px;
  margin: 0 auto 3em;
  text-align: center;
}

.tabs__image {
  position: relative;
  margin-bottom: 2em;
  aspect-ratio: 20 / 9;

  img {
    border-radius: 18px;
    @include fullAbs();
    @include fit();
  }
}

.tabs__content {
  display: flex;
  flex-wrap: wrap;

  .line {
    width: 100%;
    height: 4px;
    border-radius: 3px;
    background-color: $gray_light;
  }

  .tabs-item {
    position: relative;
    margin: 0;
    padding-top: 2em;
    cursor: pointer;
    text-align: center;
    flex: 1;

    &:hover {
      .line {
        opacity: 1;
      }
    }

    .line {
      position: absolute;
      top: 0;
      left: 0;
      transition: opacity 0.2s ease-in;
      opacity: 0;
      background-color: $black;
      translate: 0 -100%;
    }

    .title--xs {
      text-transform: uppercase;
      font-weight: 300;
    }
  }

  .tabs-item--active {
    .line {
      opacity: 1;
    }
  }
}