.wrap-text-image-full {
  .img {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 18px;
    aspect-ratio: 2 / 1;

    img {
      @include fullAbs;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

  }
  .img.contain {
    aspect-ratio: 2 / 1;
    @media (max-width: 564px) {
      height: 321px;
      aspect-ratio: auto;
    }
    img {
      @include fullAbs;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
}

.text-image-full__content {
  margin-bottom: 2em;

  .eyebrow {
    margin-bottom: 1em;
  }

  .title {
    margin-bottom: 0;
  }

  .content {
    margin-bottom: 1em;
  }
}