.text-block {
  padding: 60px 0;

  .eyebrow,
  .title {
    text-align: center;
  }

  .title {
    margin-bottom: 2em;
  }

  .wrap-btn {
    text-align: center;

    .btn {
      display: inline-block;
    }
  }
}