.eyebrow {
  margin-bottom: 3em;
}

.card {
  margin-bottom: 4.5em;
  padding: 50px 48px;
  border-radius: 18px;
  background-color: $beige;

  @include m768 {
    padding: 10% 15%;
  }
}

.card__image {
  position: relative;
  max-width: 150px;
  margin-bottom: 1.8em;
}

.card__content {
  display: flex;
  flex-direction: column;
  text-align: left;
  flex: 1 1 auto;
  align-items: flex-start;

  .eyebrow {
    margin-bottom: 0;
    line-height: 1.1;
  }

  .text {
    margin-bottom: 1em;
  }

  .btn {
    display: inline-flex;
    width: auto;
    margin-top: auto;
  }
}

:deep(.swiper-pagination) {
  .swiper-pagination-bullet {
    --swiper-pagination-bullet-size: 10px;
    opacity: 0.4;
    background: $black;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
  }
}