.services-clients {
  background-color: $beige;
  padding: 4em 0 1em;
}

.clients__headline {
  max-width: 750px;
  margin-bottom: 4em;

  .eyebrow {
    margin-bottom: 3em;
  }
}

.single-logo {
  margin-bottom: 3em;
}