.services-features {
  position: relative;
  padding: 0;

  .eyebrow {
    translate: 0 2em;
  }
}


.wrap-services-slider {
  padding-top: 3em;

  .circle {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 40%;
    max-width: 230px;
    opacity: 0.3;
    border-radius: 50%;
    background-color: $green_light;
    aspect-ratio: 1 / 1;
    transition: left 0.2s ease-in;

    @include m768 {
      left: 55%;
      width: 50%;
    }
  }

}

.services-features__slider {
  padding: 0 20px 3em;

  @include m768 {
    padding: 32px 20px 7em;
  }

  &:before {
    position: absolute;
    top: 3em;
    left: 0;
    width: 100%;
    height: 1px;
    content: '';
    background-color: $black;

    @include m768 {
      top: 0;
    }
    @include m2200 {
      top: 10%;
    }
  }

  :deep(.swiper-slide) {
    padding: 0 5% 0 20px;
  }

  .drop {
    display: none;

    @include m768 {
      top: 90%;
      left: 50%;
      display: block;
    }
  }

  .img {
    position: relative;
    overflow: visible;
    margin-bottom: 2em;
    aspect-ratio: 1 / 1.2;

    @include m768 {
      margin-bottom: 0;
    }
    @include m1800 {
      aspect-ratio: 1 / 1.3;
    }

    img {
      display: block;
      border-radius: 18px;

      @include fullAbs();
      @include fit();
    }
  }

  .content {
    margin-bottom: 3em;

    @include m768 {
      margin-bottom: 0;
    }

    span.title {
      margin-bottom: 0;
      color: $gray;
      line-height: 1;
    }

    .title {
      margin-bottom: 0.3em;
    }
  }
}
