.work-cards {
  [class^=col-] {
    margin-bottom: 4.5em;
  }

  >.container {
    padding: 0;
  }
}

.eyebrow {
  margin-bottom: 3em;
}

.work-cards__slider {
  padding-left: calc(24px - 1em);
  padding-bottom: 4em;

  @include m768 {
    padding-left: calc(32px - 1em);
  }

  :deep(.swiper-wrapper) {
    align-items: flex-end;
  }

  :deep(.swiper-pagination) {
    .swiper-pagination-bullet {
      background: $black;
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  justify-content: flex-end;
  padding: 0 1em;
}

.card__headline {
  .title {
    margin-bottom: 0.5em;
  }
}

.card__image {
  position: relative;
  overflow: hidden;
  margin-bottom: 1.8em;
  border-radius: 18px;
  aspect-ratio: 1 / 1.2;

  img {
    @include fullAbs();
    @include fit();
  }
}

.card__content {
  display: block;
  text-align: center;

  .title {
    margin-bottom: 1.8rem;
    line-height: 1.1;
  }

  .btn {
    display: inline-flex;
    width: auto;
  }
}