.about {
  :deep(.hero) {
    background: linear-gradient(to bottom, $black 10%, $white 100%);

    .drop {
      top: 45%;
      left: 65%;
      z-index: 2;
    }

    .title {
      strong {
        background-color: $black;
      }
    }
  }
}