.report {
  padding: 60px 0;
}

.report__box {
  padding: 32px 32px calc(32px - 1em);
  border-radius: 18px;
  background-color: $beige;

  @include m768 {
    padding: 10% 44px calc(10% - 1em) ;
  }
  @include m1400 {
    padding: 126px 44px calc(126px - 1em);
  }

  .text {
    :deep(strong) {
      font-size: 0.9em;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: $black;
    }
  }

  .ctas {
    padding-top: 2em;

    .btn {
      margin-right: 2em;
      margin-bottom: 1em;
    }
  }
}