.banner {
  padding-bottom: 5rem;

  .b-content {
    position: relative;
    padding: 3rem 2rem;
    text-align: center;
    color: $white;
    border-radius: 18px;
    background-color: $blue;

    :deep(.drop) {
      width: 120px;
    }

    :deep(.drop:first-child) {
      z-index: 0;
      top: 2rem;
      right: -5rem;
    }

    :deep(.drop:last-child) {
      z-index: 2;
      bottom: -2rem;
      left: 1rem;
    }

    @include m992 {
      :deep(.drop:first-child) {
        z-index: 0;
        top: 4rem;
        right: -6rem;
      }

      :deep(.drop:last-child) {
        z-index: 2;
        bottom: -2rem;
        left: 1rem;
      }
    }

    .wrapper {
      max-width: 724px;
      margin: 0 auto;

      .eyebrow {
        margin-bottom: 1.4rem;
      }

      .title {
        margin-bottom: 1.4rem;
      }

      .text {
        margin-bottom: 1.4rem;
      }
    }
  }
}

